kerneldev.pro.user
*.autosave
demo.*
*generated*
*.user
*Makefile
lcdemo*
*.so
.idea
build
install
release
CMakeLists.txt.user
playground
xcode
debug
doc

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# macOS
.DS_Store
.vscode

# Visual Studio
/CMakeSettings.json
.vs/
